<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="GuoPanDb" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=GuoPanDb;User Id=sa; Password=123456;Max Pool Size = 30000;Connection Lifetime=1000;"/>
  </connectionStrings>
</configuration>