<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <clear/>
    <add name="GuoPanDb" providerName="System.Data.SqlClient" connectionString="Data Source=58.84.53.87,65382;Initial Catalog=GuoPanDb;User Id=sa; Password=YM@123456;Max Pool Size = 30000;Connection Lifetime=1000;"/>
  </connectionStrings>
</configuration>